@{
    ViewData["Title"] = "Тестовое задание";
}

<div class="text-center">
    <h4 class="display-4">Козловский. С.Е. - Тестовое задание</h4>
    <ul style="list-style-type:none">
        <li>
            <a href="/Founders">Учредители</a>
        </li>
        <li>
            <a href="/Companies">Компании</a>
        </li>
        <li>
            <a href="/swagger">Перейти в Swagger</a>
        </li>
    </ul>
</div>

