@model IEnumerable<AspDemo.DomainModel.common.model.ListItemModel>

@{
    ViewData["Title"] = "Компании";
}


<h2>Компании</h2>
<div>
    <form asp-action="Add">
        <input type="submit" value="Добавить компанию" class="btn btn-primary" />
    </form>
</div>
<div>
    <ul>
        @foreach (AspDemo.DomainModel.common.model.ListItemModel item in Model)
        {
            <li>
                <a href="/Companies/Edit/@item.Id">@item.Value</a>
            </li>
        }
    </ul>
</div>



