@model IEnumerable<AspDemo.DomainModel.common.model.ListItemModel>

    @{
    ViewData["Title"] = "Index";
    }

    <h3>Компании</h3>
    <div>
        <input type="button" value="Создать" onclick="@("window.location.href='" + @Url.Action("NewCompany", "/Companies") + "'");" />
    </div>
    <div>
        <lu>
            @foreach (AspDemo.DomainModel.common.model.ListItemModel item in Model)
        {
            <li>
                <a href="/Companies/Edit/@item.Id">@item.Value</a>
            </li>
        }
        </lu>
    </div>
